<a href="https://colab.research.google.com/github/redun1/MicroCDA/blob/main/Assignment(01_05).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#LOOPING

In [5]:
#Create a list that holds 5 data variables
var=['apple','zy','hello','what','sky']

In [6]:
#Print out those variables by using a for loop
for i in var:
  print(i)

apple
zy
hello
what
sky

In [10]:
#Modify your loop to add a message to your for loop
for i in var:
  print(i, ': Yet another item in the list!')

apple : Yet another item in the list!
zy : Yet another item in the list!
hello : Yet another item in the list!
what : Yet another item in the list!
sky : Yet another item in the list!

In [11]:
#Use a for loop to print even numbers from 1-20
for i in range(1, 21):
  if i%2 ==0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [12]:
#Sort your list in alphabetic order
for i in sorted(var):
  print(i)

apple
hello
sky
what
zy

In [15]:
#Print out the first three elements of your list
print(var[0:3])

['apple', 'zy', 'hello']

In [110]:
#Create a loop to print the last 2 elements of your list

for i in var[3::]:
  print(i)

what
sky

#DICTIONARIES

In [31]:
#Create a simple dictionary that 2 variables
sample= {'Bob', 'Phil'}

In [32]:
#Print out those variables stored in your previous dictionary
for k in sample:
  print(k)

Bob
Phil

In [33]:
#Add a message to those variables on printing
for k in sample:
  print('Hello ' + k)

Hello Bob
Hello Phil

In [37]:
#Create a dictionary that holds 2 key:value pairs
  ##Look through your dicitonary and print each pair
sample= {'firstName': 'Alex', 'lastName':'Deen'}

for k,v in sample.items():
  print('Key: ' + k)
  print('Value: ' + v)

Key: firstName
Value: Alex
Key: lastName
Value: Deen

In [84]:
#Create a nested dictionary containing three dictionaries
a={'animals': {'pet': 'dog', 'size': 'small'},
          'location': {'city':'queens', 'state': 'NY'},
          'food': {'fruit':'apple', 'measurement': 'ounces'}}

In [85]:
##Loop through the dictionaries and print a message for each

for i in a.keys():
  print('This is one of the dictionaries called: ', i)
  for z in a[i].keys():
    print(z)

This is one of the dictionaries called:  animals
pet
size
This is one of the dictionaries called:  location
city
state
This is one of the dictionaries called:  food
fruit
measurement